package router

import (
	"gin-quickly-template/internal/app/{{.appName}}/handler"
	"github.com/gin-gonic/gin"
)

// Don't forget to add mod to cmd/server/server.go -> k.RegMod()

func InitRouter(router *gin.Engine) {
	v1 := router.Group("/v1")
	{
		v1.GET("/ping", handler.Get{{.AppName}})
	}
}